ahk==1.8.1
aiohttp==3.11.11
aiorun==2024.8.1
altgraph==0.17.4
amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==24.3.0
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.1
certifi==2024.12.14
chardet==5.2.0
click==8.1.8
click-didyoumean==0.3.1
click-repl==0.3.0
colorama==0.4.6
decorator==5.1.1
Flask==3.1.0
Flask-Celery==2.4.3
Flask-PyMongo==2.3.0
Flask-Script==2.0.6
Flask-SocketIO==5.5.1
future==1.0.0
idna==3.10
ipython==8.31.0
ipython-genutils==0.2.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
keyboard==0.13.5
kombu==5.4.2
MarkupSafe==3.0.2
multidict==6.1.0
numpy==2.2.1
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pefile==2024.8.26
pickleshare==0.7.5
Pillow==11.1.0
prompt-toolkit==3.0.48
pyahocorasick==2.1.0
Pygments==2.19.1
pygtail==0.14.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-socketio==5.12.1
pytz==2024.2
pywin32-ctypes==0.2.3
pyzmq==26.2.0
redis==5.2.1
requests==2.32.3
scapy==2.6.1
six==1.17.0
soupsieve==2.6
termcolor==2.5.0
traitlets==5.14.3
twitchio==2.10.0
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
websockets==14.1
Werkzeug==3.1.3
wincertstore==0.2
yarl==1.18.3
uvicorn==0.34.0
